<div class="body_ticket">
  <div class="buttons">
    <button mat-raised-button color="primary" (click)="newTicket()" class="create_ticket_button">
      Новые задачи
    </button>
  </div>
  <div class="check_ticket" *ngIf="isTicket">
    <div class="ticket" *ngFor="let ticket of dataTicket" (click)="openDialog(ticket.ticketId)">
      <div class="gen_ticket">
        <div class="data_ticket">
          <div class="ticket_name data">
            <div class="name_label label">Наименование задачи: </div>
            <div class="name">{{ticket.name}}</div>
          </div>
          <div class="ticket_user_full_name data">
            <div class="user_label label">Имя отправителя: </div>
            <div class="ticket_user">{{ticket.userFullName}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="empty-ticket" *ngIf="!isTicket">
    Выполняемые задачи отсуствуют
  </div>
</div>
