
.login {
  min-height: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee;
  height: 100%;
}

.login__window {
  width: 50%;
  padding: 8% 0 0;
  margin: auto;
  background-color: #eeeeee;
}

.login__form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 50%;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.login__input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 25px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 20px;
}

.login__button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background-color: #232323;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 20px;
  cursor: pointer;
}

.login__button:hover, .login__button:active, .login__button:focus {
  background: #474747;
}

.login__message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 20px;
}

.login__create {
  color: #232323;
  text-decoration: none;
}
