<div class="dialog">
  <div class="dialog_form">
    <div class="dialog_name">
      Тикет № {{currentTicket.ticketId}}
    </div>
    <div class="dialog_div" *ngIf="!isManager">
      <div class="desc">
        Имя тикета:
      </div>
      <div class="name_desc">
        <input type="text" [(ngModel)]="currentTicket.name" [disabled]="!isChangeName" class="text_ticket">
      </div>
      <div class="check_name" *ngIf="!isComplete">
        <input type="checkbox" (change)="changeName()" class="check_ticket">
      </div>
    </div>
    <div class="dialog_div" *ngIf="isManager">
      <div class="desc">
        Имя тикета:
      </div>
      <div class="name_desc">
        {{currentTicket.name}}
      </div>
    </div>
    <div class="dialog_div" *ngIf="isManager">
      <div class="desc">
        Описание тикета:
      </div>
      <div class="name_desc">
        {{currentTicket.description}}
      </div>
    </div>
    <div class="dialog_div" *ngIf="!isManager">
      <div class="desc">
        Описание тикета:
      </div>
      <div class="name_desc">
        <input type="text" [(ngModel)]="currentTicket.description" [disabled]="!isChangeDescription" class="text_ticket">
      </div>
      <div class="check_name" *ngIf="!isComplete">
        <input type="checkbox" (change)="changeDesc()" class="check_ticket">
      </div>
    </div>
    <div class="dialog_div">
      <div class="desc">
        Категория:
      </div>
      <div class="name_desc">
        {{currentTicket.category}}
      </div>
    </div>
    <div class="dialog_div">
      <div class="desc">
        Статус:
      </div>
      <div class="name_desc">
        {{currentTicket.status}}
      </div>
    </div>
    <div class="dialog_div">
      <div class="desc">
        Испольнитель:
      </div>
      <div class="name_desc">
        {{currentTicket.userAssigneeId}}
      </div>
    </div>
    <div class="dialog_div">
      <div class="desc">
        Имя отправителя:
      </div>
      <div class="name_desc">
        {{currentTicket.userFullName}}
      </div>
    </div>
    <div class="dialog_div">
      <div class="desc">
        Дата создания:
      </div>
      <div class="name_desc">
        {{currentTicket.updateDate}}
      </div>
    </div>
    <div class="dialog_div">
      <div class="desc">
        Дата обновления:
      </div>
      <div class="name_desc">
        {{currentTicket.createDate}}
      </div>
    </div>
    <div class="buttons">
      <button [mat-dialog-close]="true" *ngIf="isAllChanged && !isManager" mat-raised-button color="basic" (click)="changeTicket(currentTicket.ticketId, currentTicket.name, currentTicket.description)" class="create_ticket_button">
        Сохранить
      </button>
      <button [mat-dialog-close]="true" *ngIf="isNewTicketManager && isManager" mat-raised-button color="basic" (click)="assigneeTicket(currentTicket.ticketId)" class="create_ticket_button">
        Взять тикет
      </button>
      <button [mat-dialog-close]="true" *ngIf="!isComplete && isManager && !isNewTicketManager" mat-raised-button color="basic" (click)="completeTicket(currentTicket.ticketId)" class="create_ticket_button">
        Выполнить тикет
      </button>
      <button [mat-dialog-close]="true" *ngIf="!isComplete && !isManager" mat-raised-button color="basic" (click)="cancelTicket(currentTicket.ticketId)" class="create_ticket_button">
        Отменить тикет
      </button>
      <button [mat-dialog-close]="false" mat-raised-button color="warn" (click)="closed()" class="create_ticket_button">
        Закрыть
      </button>
    </div>
  </div>
</div>
