<div class="create_ticket">
  <div class="window_ticket">
    <div class="input_add_ticket">
      <div class="label_body">
        Создание тикета
      </div>
      <form class="register__form" name="ticketForm" #f = "ngForm" novalidate>
        <input type="text" placeholder="Имя тикета" id="header_task" class="name_ticket"
               [(ngModel)]="ticket.name" name="name">
        <textarea cols="40" rows="3" placeholder="Описание тикета" id="body_task"
                  class="ticket_description" [(ngModel)]="ticket.description" name="description"></textarea>
        <div class="work_select_label">
          Категория:
        </div>
        <select class="work_select" [(ngModel)]="ticket.category" name="category">
          <option *ngFor="let category of arrayCategory" ngValue="{{category.name}}">
            {{category.displayName}}
          </option>
        </select>
        <div class="button_create">
          <button mat-raised-button color="primary" class="button_create_ticket" (click)="createTicket()">
            Создать
          </button>
          <button mat-raised-button color="warn" class="button_cancel_ticket" (click)="route.navigate(['/user'])">
            Отменить
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
